# CONFIG_ADFS_FS is not set
# CONFIG_AFFS_FS is not set
# CONFIG_BEFS_FS is not set
# CONFIG_BFS_FS is not set
CONFIG_BOOTPARAM_HARDLOCKUP_PANIC=y
CONFIG_BOOTPARAM_HUNG_TASK_PANIC=y
CONFIG_BOOTPARAM_SOFTLOCKUP_PANIC=y
# CONFIG_EFS_FS is not set
# CONFIG_EROFS_FS is not set
# CONFIG_EXT2_FS is not set
# CONFIG_GOOGLE_FIRMWARE is not set
# CONFIG_HFSPLUS_FS is not set
# CONFIG_HFS_FS is not set
# CONFIG_HSA_AMD_SVM is not set
# CONFIG_ISL29003 is not set
# CONFIG_ISL29020 is not set
# CONFIG_JFS_FS is not set
CONFIG_LIST_HARDENED=y
# CONFIG_MISC_RP1 is not set
# CONFIG_NILFS2_FS is not set
# CONFIG_OCFS2_FS is not set
# CONFIG_ORANGEFS_FS is not set
# CONFIG_QNX4FS_FS is not set
# CONFIG_QNX6FS_FS is not set
CONFIG_RANDOMIZE_BASE=y
CONFIG_SECURITY_DMESG_RESTRICT=y
# CONFIG_SENSORS_TSL2550 is not set
# CONFIG_UFS_FS is not set
# CONFIG_XFS_FS is not set
CONFIG_EXT4_USE_FOR_EXT2=y
CONFIG_RANDOMIZE_BASE_MAX_OFFSET=0x01000000
# CONFIG_RANDSTRUCT_PERFORMANCE is not set
